<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Data Engineering intern at
      <a class="underline-link" href="https://www.tesla.com/" target="_blank">Tesla</a> helping the company leverage data in its mission to promote sustainable energy.
      Simultaneously, I'm studying 
      <a class="underline-link" href="https://www.cs.uwaterloo.ca/" target="_blank">Computer Science</a> at the
      <a class="underline-link" href="https://www.uwaterloo.ca/" target="_blank">University of Waterloo</a>. 
      I've previously also interned at <a class="underline-link" href="https://www.twitter.com/" target="_blank">Twitter</a> helping keep the platform safe by by preventing user accounts from being compromised.
    </p>

    <p>
      Over multiple internships, I have worked in various roles across different industries, contributing my skills while also learning new things from each - from app development to all things data!
      I love to work on things that create meaningful impact in people's lives and leverage tech for good and briefly even worked on the Android
      <a class="underline-link" href="https://apps.apple.com/us/app/aetheria/id1028767781/" target="_blank">Aetheria</a> app for 
      <a class="underline-link" href="https://www.withastra.org/" target="_blank">Astra Labs</a> a gen-z run non-profit.
    </p>

    <p>
      Outside of work and school, I'm probably coffee cupping at new cafes, messing with music production and DJing,
      or pursuing my endeavour of learning Japanese!
    </p>

    {% include employment-status.html %}
  </div>
</section>
