<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I recently graduated from the 
      <a class="underline-link" href="https://www.uwaterloo.ca/" target="_blank">University of Waterloo</a> studying  
      <a class="underline-link" href="https://www.cs.uwaterloo.ca/" target="_blank">Computer Science</a> and 
      <a class="underline-link" href="https://uwaterloo.ca/economics/" target="_blank">Economics</a> 
      and I'm currently working on building backend systems as a Software Engineer on the Apps Integrations team at 
      <a class="underline-link" href="https://www.rippling.com/" target="_blank">Rippling</a>!
    </p>

    <p>
      Outside of work, I'm probably coffee cupping at new cafes, messing with music production and DJing,
      or pursuing my endeavour of learning Japanese!
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
